=placelogo($color:color, $fontsize:7)
  $sizeValue: $fontsize/2
  padding: 2px
  font-weight: 700
  font-size: $sizeValue + rem
  @if $color == color
    span
      mix-blend-mode: multiply
    span:nth-child(1)
      color: $cl-purple
      font-size: $fontsize + rem
      float: left
    span:nth-child(2)
      color: $cl-blue
    span:nth-child(3)
      color: $cl-green
    span:nth-child(4)
      color: $cl-orange
    span:nth-child(5)
      color: $cl-purple
    span:nth-child(6)
      color: $cl-blue
    span:nth-child(7)
      color: $cl-gray
    span:nth-child(9)
      &:before
        content: '\A'
        white-space: pre
  @else
    color: $color
    span:nth-child(1)
      font-size: $fontsize + rem
      float: left
    span:nth-child(9)
      &:before
        content: '\A'
        white-space: pre
